*
!configuration.txt

!buildroot-2023.11.1.tar.xz

!README.md

!.gitignore

!buildroot
!buildroot/.config
!buildroot/board
!buildroot/board/raspberrypi
!buildroot/board/raspberrypi/genimage.cfg.in

!buildroot/overlays
!buildroot/overlays/**
buildroot/overlays/etc/wpa_supplicant/wpa_supplicant.conf

!scripts
!scripts/**